body {
    font-family: 'Open Sans';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    color: #4A4A4A;
}

.tj {
    text-align: justify;
}

.coral {
    color: #f67150;
}

.check-grey {
    color: #9A9A9A;
}

.coral-bg {
    background-image: url('/images/coralbg.jpg');
}

.coral-link {
    border-bottom: 2px dotted  #f67150;
}

.coral-link:hover {
    color: #f67150;
}

/* used in combination with absolute positioned elements */
.center-margin {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*
 Add required responsive flex grid, font-size and spacing classes 
 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893
*/
.flex-100 {
    flex: 0 0 100%; min-width: 0; /* 1 */ min-height: 0; /* 1 */
}
.content-width {
    max-width: 20rem;
}
.logo svg {
    height: 0.7rem;
}
.button-link {
    background: #F67150;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.contrib-bump::after {
    content:"\a";
    white-space: pre;
    display:block;
}
.moz-footer-logo {
    border-right: none;
    border-bottom: solid #4A4A4A 1px;
}

@media screen and (min-width: 30em) and (max-width: 60em){
    .blr2-m {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .brr2-m {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
   .flex-50-m {
        flex: 0 0 50%; min-width: 0; /* 1 */ min-height: 0; /* 1 */
    }
    .content-width {
        max-width: 48rem;
    }
    .coral-mark {
        width: 3.3rem;
    }
    .logo svg {
        height: 1.5rem;
    }
    .tz-border-m {
        border-top-width: 0.33rem;
        border-top-color: #1E0038;
    }
    .f2i-m {
        font-size: 2.75rem; /* non-scale font size, sorry type-lovers */
    }
    .f7-m {
        font-size: 0.75rem;
    }
    .contrib-bump::after {
        content: "";
        white-space: normal;
        display: inline;
    }
    .moz-footer-logo {
        border-right: solid #4A4A4A 1px;
        border-bottom: none;
    }
    .flex-row-ns {
        flex-direction: row;
    } 
}

@media screen and (min-width: 60em) {
    .blr2-l {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .brr2-l {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .product-cell:first-child, .product-cell:last-child {
        margin-top: 8rem; /* equivalent to mt7 */
    }
   .flex-25-l {
        flex: 0 0 25%; min-width: 0; /* 1 */ min-height: 0; /* 1 */
    }
    .content-width {
        max-width: 80rem;
    }
    .coral-mark {
        width: 4rem;
    }
    .tz-border-l {
        border-top-width: 0.33rem;
        border-top-color: #1E0038;
    }
    .logo svg {
        height: 2rem;
    }
    .contrib-bump::after {
        content: "";
        white-space: normal;
        display: inline;
    }
    .moz-footer-logo {
        border-right: solid #4A4A4A 1px;
        border-bottom: none;
    }
    .flex-row-ns {
        flex-direction: row;
    } 
}

