body {
    font-family: 'Open Sans';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    color: #333;
    font-size: 15px;
    line-height: 23px;
}

article {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

article a {
    border-bottom: 2px dotted  #f67150;
    color: #333;
    text-decoration: none;
    font-weight: 700;
}

article a:hover {
    color: #f67150;
}

article h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 23px;
    color: #1e0038;
}

article h2 {
    font-size: 19px;
    line-height: 23px;
    font-weight: 700;
}

article p em:last-of-type {
    font-size: 12px;
    line-height: 19px;
    font-style: italic;
}

@media screen and (min-width: 30em) and (max-width: 60em){
    body {
        font-size: 18px;
        line-height: 28px;
    }
    article {
        position: relative;
        margin-top: -20rem;
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 3rem;
    }
    article h1{
        font-size: 28px;
        line-height: 28px;
    }
    article h2{
        font-size: 22px;
        line-height: 28px;
    }
    article p em:last-of-type {
        font-size: 14px;
        line-height: 25px;
    }
}

@media screen and (min-width: 60em) {
    body {
        font-size: 18px;
        line-height: 28px;
    }

    article {
        position: relative;
        margin-top: -33rem;
        width: 66%;
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 5rem;
        padding-bottom: 10rem;
    }
    
    article h1{
        font-size: 28px;
        line-height: 28px;
    }
    
    article h2{
        font-size: 22px;
        line-height: 28px;
    }
    
    article p em:last-of-type {
        font-size: 14px;
        line-height: 25px;
    }
}

/* Duplicated from index.css for to work around specificity issues */

.moz-footer-logo {
    border-right: none;
    border-bottom: solid white 1px;
}
@media screen and (min-width: 30em) and (max-width: 60em){
    .tz-border-m {
        border-top-width: 0.33rem;
        border-top-color: #1E0038;
    }
    .blr2-m {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .brr2-m {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .coral-mark {
        width: 3.3rem;
    }
    .moz-footer-logo {
        border-right: solid white 1px;
        border-bottom: none;
    }
    .flex-row-ns {
        flex-direction: row;
    } 
}
@media screen and (min-width: 60em) {
    .tz-border-l {
        border-top-width: 0.33rem;
        border-top-color: #1E0038;
    }
    .blr2-l {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .brr2-l {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .coral-mark {
        width: 4rem;
    }
    .moz-footer-logo {
        border-right: solid white 1px;
        border-bottom: none;
    }
    .flex-row-ns {
        flex-direction: row;
    } 
}