body {
    font-family: 'Open Sans';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    color: #333;
    font-size: 15px;
    line-height: 23px;
}

ul {
    list-style: square;
}

article {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color: white;
    min-height: 40rem;
}

article h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 23px;
    color: #1e0038;
}

article h2 {
    font-size: 19px;
    line-height: 23px;
    font-weight: 700;
}

article h3 {
    font-weight: 700;
    font-size: 15px;
}

article a {
    border-bottom: 2px dotted  #f67150;
    color: #333;
    text-decoration: none;
    font-weight: 700;
}

article a:hover {
    color: #f67150;
}

article p > img[src $= "svg"]{ /* SVG logos in markdown pages  */
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article p em:last-of-type { /* attribution text on code-of-conduct page  */
    font-size: 14px;
    line-height: 25px;
}

#team > h2 + p > img[src *= "/team/"]{
    margin-top: 1rem;
}

#team img[src *= "/team/"]{
    margin-top: 3rem;
    margin-bottom: 0rem;
    width: 10rem;
}

#team > h2 ~ p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}


#team > p ~ h3 {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#team > p ~ h3 ~ p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#product p > a > img[src $= "png"]{
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0px 0px 12px #666;
    border-bottom: none;
}

#product p > a {
    border-bottom: none;
}

#user > p > img {
    margin-left: 0;
}

@media screen and (min-width: 30em) and (max-width: 60em){
    body {
        font-size: 18px;
        line-height: 28px;
    }
    article {
        position: relative;
        margin-top: -45%;
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 3rem;
    }
    article h1{
        font-size: 28px;
        line-height: 28px;
    }
    article h2{
        font-size: 22px;
        line-height: 28px;
    }
    article h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }

    #team > h2 + p > img[src *= "/team/"]{
        margin-top: 0rem;
    }

    #team img[src *= "/team/"]{
        float: left;
        margin-top: 0rem;
        margin-right: 2rem;
        margin-bottom: 14rem;
    }

    #team > h2 ~ p:nth-child(3n+1):after {
        content: "";
        display: table;
        clear: both;
    }

    #team > p ~ h3 {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    
    #team > p ~ h3 ~ p {
        /* background-color: red; */
        margin-top: 0rem;
    }

    #product p > img[src $= "png"]{
        width: 132%; 
        margin-top: 2rem;
        margin-left: -16%;
        margin-right: -16%;
        box-shadow: 0px 0px 12px #666;
    }

    article p em:last-of-type { /* attribution text on code-of-conduct page  */
        font-size: 14px;
        line-height: 25px;
    }
}

@media screen and (min-width: 60em) {
    body {
        font-size: 18px;
        line-height: 28px;
    }

    article {
        position: relative;
        margin-top: -45%;
        width: 66%;
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 5rem;
        padding-bottom: 10rem;
    }
    
    article h1{
        font-size: 28px;
        line-height: 28px;
    }
    
    article h2{
        font-size: 22px;
        line-height: 28px;
    }
    
    article h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }

    #team > h2 + p > img[src *= "/team/"]{
        margin-top: 0rem;
    }

    #team img[src *= "/team/"]{
        float: left;
        margin-right: 2rem;
        margin-top: 0rem;
        margin-bottom: 8rem;
    }

    #team > h2 ~ p:nth-child(3n+1):after {
        content: "";
        display: table;
        clear: both;
    }

    #team > p ~ h3 {
        margin-top: 0rem;
    }
    
    #team > p ~ h3 ~ p {
        margin-top: 0rem;
    }

    #product p > img[src $= "png"]{
        width: 132%; 
        margin-top: 2rem;
        margin-left: -16%;
        margin-right: -16%;
        box-shadow: 0px 0px 12px #666;
    }

    article p em:last-of-type { /* attribution text on code-of-conduct page  */
        font-size: 14px;
        line-height: 25px;
    }
}

/* Duplicated from index.css for to work around specificity issues */

.moz-footer-logo {
    border-right: none;
    border-bottom: solid #4A4A4A 1px;
}
@media screen and (min-width: 30em) and (max-width: 60em){
    .tz-border-m {
        border-top-width: 0.33rem;
        border-top-color: #1E0038;
    }
    .blr2-m {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .brr2-m {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .coral-mark {
        width: 3.3rem;
    }
    .moz-footer-logo {
        border-right: solid #4A4A4A 1px;
        border-bottom: none;
    }
    .flex-row-ns {
        flex-direction: row;
    } 
}
@media screen and (min-width: 60em) {
    .tz-border-l {
        border-top-width: 0.33rem;
        border-top-color: #1E0038;
    }
    .blr2-l {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .brr2-l {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .coral-mark {
        width: 4rem;
    }
    .moz-footer-logo {
        border-right: solid #4A4A4A 1px;
        border-bottom: none;
    }
    .flex-row-ns {
        flex-direction: row;
    } 
}