/* Mozilla logo CSS */
/* #tabzilla { */
/*   float: right; */
/*   position: relative; */
/* } */
#tabzilla a {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('/images/tabzilla-static.png');
  background-repeat: no-repeat;
  display: block;
  height: 37px;
  position: relative;
  width: 147px;
  z-index: 2;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #tabzilla a {
    background-image: url('/images/tabzilla-static-high-res.png');
    -webkit-background-size: 147px 37px;
    background-size: 147px 37px;
  }
}
#tabzilla:before {
  background-color: transparent;
  content: '';
  display: block;
  height: 26px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 88px;
  z-index: 1;
}
html[dir='rtl'] #tabzilla {
  float: left;
}
/* End Mozilla logo CSS */

.tj {
    text-align: justify;
}

body {
    font-family: 'Open Sans';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    color: #4A4A4A;
}

.menu-icon svg, .icon svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    fill: grey;
}

.logo svg {
    height: 2rem;
}

.coral {
    color: #f67150;
}

.body-grey {
    color: #4A4A4A;
}

.check-grey {
    color: #9A9A9A;
}

.dark-bg {
    background-color: #1E0038;
}

.coral-mark {
    width: 4rem;
}

.coral-bg {
    background-image: url('/images/coralbg.jpg');
}

.purple-bg {
    background-color: #C480BF
}

.coral-link {
    border-bottom: 2px dotted  #f67150;
}

/* used in combination with absolute positioned elements */
.center-margin {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* TODO: responsive */
.content-width {
    max-width: 80rem;
}

.ml-75 {
    margin-left: 75%;
}

/*
 Add required responsive flex grid classes 
 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893
*/
.flex-100 {
    flex: 0 0 100%; min-width: 0; /* 1 */ min-height: 0; /* 1 */
}

@media screen and (min-width: 48em) and (max-width: 64em){
    .flex-50-m {
        flex: 0 0 50%; min-width: 0; /* 1 */ min-height: 0; /* 1 */
    }
}
@media screen and (min-width: 64em) {
    .flex-25-l {
        flex: 0 0 25%; min-width: 0; /* 1 */ min-height: 0; /* 1 */
    }
}