body {
    font-family: 'Open Sans';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    color: #4A4A4A;
}

.tj {
    text-align: justify;
}

.menu-icon svg, .icon svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    fill: grey;
}

.logo svg {
    height: 2rem;
}

.coral {
    color: #f67150;
}

.body-grey {
    color: #4A4A4A;
}

.check-grey {
    color: #9A9A9A;
}

.dark-bg {
    background-color: #1E0038;
}

.coral-mark {
    width: 4rem;
}

.coral-bg {
    background-image: url('/images/coralbg.jpg');
}

.purple-bg {
    background-color: #C480BF
}

.coral-link {
    border-bottom: 2px dotted  #f67150;
}

/* used in combination with absolute positioned elements */
.center-margin {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.ml-75 {
    margin-left: 75%;
}

/*
 Add required responsive flex grid, font-size and spacing classes 
 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893
*/
.flex-100 {
    flex: 0 0 100%; min-width: 0; /* 1 */ min-height: 0; /* 1 */
}
.content-width {
    max-width: 20rem;
}

.f7 {
    font-size: 0.75rem;
}

@media screen and (min-width: 48em) and (max-width: 64em){
    .tz-border-m {
        border-top-width: 0.33rem;
        border-top-color: #1E0038;
    }
   .flex-50-m {
        flex: 0 0 50%; min-width: 0; /* 1 */ min-height: 0; /* 1 */
    }
    .content-width {
        width: 48rem;
    }
    .f2i-m {
        font-size: 2.75rem; /* non-scale font size, sorry type-lovers */
    }
    .f7-m {
        font-size: 0.75rem;
    }
}
@media screen and (min-width: 64em) {
    .tz-border-l {
        border-top-width: 0.33rem;
        border-top-color: #1E0038;
    }
   .flex-25-l {
        flex: 0 0 25%; min-width: 0; /* 1 */ min-height: 0; /* 1 */
    }
    .content-width {
        max-width: 80rem;
    }
}