---
layout: default
---
<div class="relative flex content-center justify-center">
    <div class="flex-auto">
        {% include header.html %}
    </div>
    <div class="absolute ml-75 db-l db-m dn">
        <a href="https://www.mozilla.org/">
            {% include tabzilla-purple.svg %}
        </a>
    </div>
    <div class="flex-auto white absolute center-margin">
        <h1 class="f1-l f2i-m f2 tc">The Coral Project</h1>
        <p class="f6-l f6-m f7 tc ttu tracked">Because journalism needs everyone</p>
    </div>
    <picture class="flex-auto w-100 bt-l tz-border-l bt-m tz-border-m bn">
        <source srcset="/images/splashlg.jpg" media="(min-width: 30em)">
        <img class="w-100" src="/images/splashsm.jpg">
    </picture>
</div>

<div class="content-width flex justify-around items-center h3-l h3-m h2">
    <div class="logo flex-auto tc">{% include logo-mozilla.svg %}</div>
    <div class="logo flex-auto tc">{% include logo-nyt.svg %}</div>
    <div class="logo flex-auto tc">{% include logo-wapo.svg %}</div>
    <div class="logo flex-auto tc">{% include logo-knifo.svg %}</div>
</div>

<div class="flex items-center justify-center dark-bg h3">
    <p class="f6-l f6-m tc white ttu tracked">Open-source tools and practices to help journalism and communities</p>
</div>

<div class="content-width tc flex flex-column items-center justify-center mt3">
    <h2 class="flex-auto f2 ttu tracked coral">Why use Coral?</h2>
    <p class="flex-auto w-33 center f6 mb3">We’ve designed our products to meet essential needs of journalism through effective online communities.</p>
    <a class="flex-auto f6 link coral-link b body-grey" href={{"learn-more.html" | prepend: site.baseurl }}}>Learn more about The Coral Project</a>
</div>

<div class="content-width flex flex-wrap f6">
    {% for user in site.users %}
    <div class="flex-100 flex-50-m flex-25-l tc mt5">
        <img class="w3" src = {{ user.imgurl }}>
        <div class="ttu tracked f6 b mt4">For</div>
        <div class="fw1 f2 h3">{{user.title}}</div>
        <div class="f6 mt5 mb3">
            {% for feature in user.features %}
            <div class="pb2"><i class="icon-ok-circled check-grey" aria-hidden="true"></i>{{feature.text}}</div>
            {% endfor %}
        </div>
        <a class="f6 link coral-link coral b" href={{user.url | prepend: site.baseurl}}>Read more <i class="icon-right-dir body-grey pa0" aria-hidden="true"></i></a>
    </div>
    {% endfor %}
</div>

<div class="coral-bg bg-cn">
    <h2 class="f2 white tc ttu tracked pt5">Products</h2>
    <div class="content-width flex flex-wrap pt3 pb3">
        {% for product in site.products %}
        <div class="flex-100 flex-50-m flex-25-l white tc h5 product-cell">
            <a href={{product.url | prepend: site.baseurl}}><img class="h4" src={{product.imgurl | prepend: site.baseurl}}></a>
            <div class="b f3 pb2 pt2">{{product.title}}</div>
            <div class="b f6 pb4">{{product.function}}</div>
            <button class="" href={{product.url | prepend: site.baseurl}}>Learn More</button>
        </div>
        {% endfor %}
    </div>
</div>

<div class="tc">
    <h2 class="coral ttu tracked f2 pt4">How do I get it?</h2>
    <p class="w-33 tj center f6">All of The Coral Project’s software is free and open source. Our products are designed to work together, and can also be installed separately on your server. At this moment, we don’t offer hosted solutions.</p>
    <p class="w-33 tj center f6">Click below to <a class="link coral-link b body-grey" href="">read installation instructions</a>.</p>
    <h2 class="coral ttu tracked f2 pt4">How can I contribute?</h2>
    <p class="w-33 tj center f6">We want your ideas, your requests, your experiences, your bug reports, your skills, your code. Join our large community of contributors by clicking below.</p>
    <p><a class="f6 link coral-link b body-grey ma2" href="">I want to contribute code.</a><a class="f6 link coral-link b body-grey ma2" href="">I want to contribute ideas.</a></p>
    <div class="f6 pa4">Ask embed goes here</div>
</div>

{% include email-gimme.html %}
