---
layout: default
---

<!-- <div id="tabzilla"><a href="https://www.mozilla.org/">Mozilla</a></div> -->

<div class="relative flex content-center justify-center">
    <div class="flex-auto white absolute center-margin">
        <h1 class="tc">The Coral Project</h1>
        <p class="tc ttu tracked">Because journalism needs everyone</p>
    </div>
    <img class="flex-auto w-100" src="/images/splashlg.jpg">
</div>

<div class="content-width flex justify-around items-center">
    <div class="logo flex-auto tc">{% include logo-mozilla.svg %}</div>
    <div class="logo flex-auto tc">{% include logo-nyt.svg %}</div>
    <div class="logo flex-auto tc">{% include logo-wapo.svg %}</div>
    <div class="logo flex-auto tc">{% include logo-knifo.svg %}</div>
</div>

<div class="flex items-center justify-center bg-black">
    <p class="white ttu tracked">Open-source tools and practices to help journalism and communities</p>
</div>

<div class="content-width flex flex-column items-center justify-center">
    <h2 class="flex-auto flx-i f2 ttu tracked coral">Why use Coral?</h2>
    <p class="flex-auto flx-i">We’ve designed our products to meet essential needs of journalism through effective online communities.</p>
    <a class="flex-auto flx-i" href={{"learn-more.html" | prepend: site.baseurl }}}>Learn more about The Coral Project</a>
</div>

<div class="content-width flex flex-wrap">
    {% for user in site.users %}
    <div class="flex-100 flex-50-m flex-25-l tc">
        <img class="w3" src = {{ user.imgurl }}>
        <div class="ttu tracked">For</div>
        <span>{{user.title}}</span>
        <ul>
            {% for feature in user.features %}
            <li>{{feature.text}}</li>
            {% endfor %}
        </ul>
        <a href={{user.url | prepend: site.baseurl}}>Read more</a>
    </div>
    {% endfor %}
</div>

<div class="coral-bg bg-cn">
    <h2 class="white tc ttu tracked">Products</h2>
    <div class="content-width flex flex-wrap">
        {% for product in site.products %}
        <div class="flex-100 flex-50-m flex-25-l white tc">
            <a href={{product.url | prepend: site.baseurl}}><img src={{product.imgurl | prepend: site.baseurl}}></a>
            <div>{{product.title}}</div>
            <div>{{product.function}}</div>
            <button href={{product.url | prepend: site.baseurl}}>Learn More</button>
        </div>
        {% endfor %}
    </div>
</div>

<div>
    <h2>How do I get it?</h2>
    <p>All of The Coral Project’s software is free and open source. Our products are designed to work together, and can also be installed separately on your server. At this moment, we don’t offer hosted solutions.</p>
    <p>Click below to <a href="">read installation instructions</a>.</p>
    <h2>How can I contribute?</h2>
    <p>We want your ideas, your requests, your experiences, your bug reports, your skills, your code. Join our large community of contributors by clicking below.</p>
    <p><a href="">I want to contribute code.</a><a href="">I want to contribute ideas/</a></p>
    <div>Ask embed goes here</div>
</div>

{% include email-gimme.html %}
