<div>
    <h2>Receive Our Newsletter</h2>
    <form action="https://tinyletter.com/coralproject" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/coralproject', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" name="email" id="tlemail" placeholder="Your email address"/><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /></form>
    <input type="checkbox">I'm okay with Mozilla handling my info as explained in this <a href="">Privacy Notice</a>
</div>
