<header>
    <nav class="absolute dt w-100 mt4 ml4">
        <a class="dtc pr3" href="{{ site.baseurl }}/"><img class="coral-mark" src="/images/coralmarkwhite.png"></a>
        <a class="dtc ph3 link white ttu tracked f6 b" href="">About</a>
        <a class="dtc ph3 link white ttu tracked f6 b" href="">Products</a>
        <a class="dtc ph3 link white ttu tracked f6 b" href="">Install</a>
        <a class="dtc ph3 link white ttu tracked f6 b" href="">Contribute</a>
        <a class="dtc ph3 link white ttu tracked f6 b" href="">Contact</a>
   </nav>
</header>
