<header>
    <nav class="absolute w-100 w-auto-ns dt pa4-l pa3-m">
        <a class="dtc pr3-ns pl0-ns pl3 pt0-ns pt3 w-auto-ns w-25" href="{{ site.baseurl }}/"><img class="coral-mark" src="/images/coralmarkwhite.png"></a>
        <a class="dtc-ns dn ph3 link white ttu tracked f6 b" href="">About</a>
        <a class="dtc-ns dn ph3 link white ttu tracked f6 b" href="">Products</a>
        <a class="dtc-ns dn ph3 link white ttu tracked f6 b" href="">Install</a>
        <a class="dtc-ns dn ph3 link white ttu tracked f6 b" href="">Contribute</a>
        <a class="dtc-ns dn ph3 link white ttu tracked f6 b" href="">Contact</a>
        <a class="dn-ns dtc w-75 v-mid tr pr3 pt3" href="">
            {% include icon-menu.svg %}
        </a>
   </nav>
</header>
